<style>

.overlay {
    fill: none;
    pointer-events: all;
}

.graph-svg-component {
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: LightBlue;
    border-radius: 4px;
    margin-top: 10px;
}

.details {
    margin-top: 10px;
    margin-left: 810px;
}

details.detail-header {
    font-size: 2em;
}

.link {
  stroke: #ddd;
  stroke-width: .30px;
  pointer-events: all;
}

.link.compressed {
  stroke: #aaf;
  stroke-width: .30px;
  // stroke-dasharray: .4 .2;
}

#arrowhead {
    stroke: #ddd;
    stroke-width: .10px;
    fill: #ddd;
}

text {
  font: .8px sans-serif;
  pointer-events: none;
  font-weight: bold;
}

.linktext {
  font: .8px sans-serif;
  pointer-events: none;
  font-weight: bold;
  x: .38em;
}


/* Nodes ************************************/

.node.node {
  fill: #fcc;
  stroke: #c99;
  stroke-width: .1px;
}

.node.nodeElement {
  fill: #cfc;
  stroke: #9c9;
  stroke-width: .1px;
}

.node.volume {
  fill: #ccf;
  stroke: #99c;
  stroke-width: .1px;
}

.node.host {
  fill: #cff;
  stroke: #9cc;
  stroke-width: .1px;
}

.node.instance {
  fill: #fcf;
  stroke: #c9c;
  stroke-width: .1px;
}

.node.array {
  fill: #ffc;
  stroke: #cc9;
  stroke-width: .1px;
}

.node.initport {
  fill: #acf;
  stroke: #79c;
  stroke-width: .1px;
}

.node.switch {
  fill: #fc9;
  stroke: #c96;
  stroke-width: .1px;
}

.node.project {
  fill: #cf9;
  stroke: #9c6;
  stroke-width: .1px;
}

.node.zone {
  fill: #c9f;
  stroke: #96f;
  stroke-width: .1px;
}

.node.targetport {
  fill: #9fc;
  stroke: #6c9;
  stroke-width: .1px;
}


/* Status icons ***********************************/

.warning {
  stroke: #333;
  stroke-width: .05px;
  fill: yellow;
  pointer-events: none;
}

.warnLabel {
  font: 1.4px monospace;
  pointer-events: none;
}

.critical {
  stroke: #000;
  stroke-width: .05px;
  fill: red;
  pointer-events: none;
}


/* Highlighted nodes ****************************/

.highlight {
  stroke: #EEE;
  stroke-width: .05;
  fill: #EEF;
  pointer-events: none;
}

.bracket {
  stroke: #000;
  stroke-width: .05;
  fill: none;
  pointer-events: none;
}

.focus {
  stroke: #000;
  stroke-width: .05;
  fill: #F00;
  pointer-events: none;
}

/* Tooltip ************************************/

div.tooltip {
    position: absolute;
    text-align: left;
    width: 140px;
    height: 60px;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 100;
}

</style>
